/* admin-sidebar.css ou dans styles.css global */
.nav-link:hover {
  background: #ede9fe !important;
  color: #4f46e5 !important;
}

.active-nav {
  background: #ede9fe !important;
  color: #4f46e5 !important;
}

.active-nav svg {
  color: #4f46e5 !important;
}